/*Définition de la police*/
@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bloc_page
{
	border: 1px black solid;
	width: 1000px; 
	height: 600px;
	font-family: "ambleregular",Impact, "Arial Black", Arial, Verdana, sans-serif; /*J'applique la police "ambleregular" sur la page entière ou une des suivantes*/
	margin: auto; /*Centre le bloc sur la page*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

header
{
	height: 100px;
	/*border: 3px orange solid;*/
}

#logo_et_boutons
{
	display: flex;
	/*border: 1px blue solid;*/
	width: 1000px;
	height: 55px;
}

#logo
{
	color: white;
	background-color: #5cb85c; /*vert*/
	border-radius: 5px;
	height: 40px;
	width: 200px;
	font-size: 1em;
	margin-left: 5px;
	margin-top: 5px;
	line-height: 40px; /*a creuser*/
	text-align: center; /*a se rappeler*/
}

#boutons
{
	display: flex;
	justify-content: flex-end;
	/*margin-right: 100px;*/
	height: 55px;
	width: 800px;
	/*background-color: red;*/
	/*border: 1px black solid;*/
	margin-left: 220px;
}

.bouton a:hover
{
	color: #0275d8; /*bleu*/
}

.bouton
{
	/*border: solid black 3px;*/
	/*display: block; la balise a est considérée comme un block*/
	width: 100px;/*On peut definir une largeur pour ce block*/
	line-height: 50px;/*a creuser*/
	text-align: center;/*a se rappeler*/
	/*vertical-align: middle;a se rappeler*/
	/*background-color: lightgreen;*/
	font-size: 1em;
}

a
{
	color: black; /*Couleur du texte*/
	text-decoration: none; /*Supprime le soulignement des liens -- a appliquer sur la balise a*/
}

#home_tranfer
{
	margin-left: 30px;
	height : 20px;
	font-size: 1em;
	/*border: 1px black solid;*/
}

#home
{
	color: #0275d8; /*bleu*/
}

#transfer
{
	color: grey;
}

#send_money
{
	/*background-color: grey;*/
	width: 200px;
	font-size: 1em;
}

#select_box
{
	font-size: 0.7em;
	height:30px;
	width:140px;
	border : 1.5px black solid;
	margin-right: 20px;
	/*text-align: center;*/
}

#amount
{
	font-size: 0.9em;
	height:24px;
	width:90px;
	border : 1.5px black solid;
	margin-right: 20px;
	text-align: right;
}

#select_pay
{
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: grey;*/
	height: 50px;
}

#submit
{
	color: white;
	background-color: #5cb85c; /*vert*/
	width: 150px;/*On peut definir une largeur pour ce block*/
	height : 32px;
	border-radius: 9px;
	font-size: 1em;
	border : none;
	font-size: 0.9em;
}

#actions_utilisateur
{
	width: 800px;
	height: 130px;
	/*border: 3px green solid;*/
}


#send_money_and_add_connection
{
	display: flex;
}

#add_connection
{
	margin-left: 500px;
}

#add_connection a
{
	/*border: solid black 3px;*/
	color: white;
	display: block; /*la balise a est considérée comme un block*/
	width: 200px;/*On peut definir une largeur pour ce block*/
	line-height: 40px;/*a creuser*/
	text-align: center;/*a se rappeler*/
	/*vertical-align: middle;*/ /*a se rappeler*/
	border-radius: 9px;
	text-decoration: none; /*supprime le souligné du lien*/
	background-color: #0275d8; /*bleu*/
	font-size: 1em;
}

table
{
	text-align: center;
	border-collapse: collapse;
	border: 1px black solid;
	width: 800px;
	height: 280px;
	font-size: 1em;
}

th
{
	color: rgb(255, 255, 255);
	font-size: 1em;
	background-color: #5cb85c; /*vert*/
	/*max-height : 65px;*/
	/*min-height: 65px;*/
	height: 70px;
}

tbody
{
	/*height: 100px;*/
}

tr
{
	/*height : 20%;*/
}

td
{
	/*height: 70px;*/
	/*border: red solid 1px;*/
}

footer
{
	display: flex;
	justify-content: center;
	height: 50px;
	width: 400px;
}

#next
{
	display: block;
	border: 1px lightgrey solid;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px; /*a creuser*/
	color: #0275d8; /*bleu*/
	font-size: 1.3em;
	border-radius: 0px 9px 9px 0px;
}

#previous
{
	display: block;
	border: 1px lightgrey solid;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px; /*a creuser*/
	color: #0275d8; /*bleu*/
	font-size: 1.3em;
	border-radius: 9px 0px 0px 9px;
}

.element a
{
	display: block;
	border: 1px lightgrey solid;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px; /*a creuser*/
	color: #0275d8; /*bleu*/
	font-size: 1em;
}