<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/contact.css}">
	<title>Pay My Buddy</title>
</head>

<body>
	<div id="bloc_page">
		<header>
			<div id="logo_et_boutons">
				<div id="logo">Pay My Buddy</div>
				<div id="boutons">
					<div class="bouton"> <a href="home"> Home </a></div>
					<div class="bouton"> <a href="transfer"> Transfer </a></div>
					<div class="bouton"> <a href="profile"> Profile </a></div>
					<div class="bouton"> <a href="contact"> Contact </a></div>
					<div class="bouton"> <a href="log_off"> Log off </a></div>
				</div>
			</div>
		</header>
		<div>
			<h2>Contact us</h2>
			<label  th:text="${formComment.message}"></label><br><br>
			<form method="post" th:action="@{/submitDemand}" th:object="${textArea}">
				<textarea id="textarea" name="message" rows="10" cols="50">Enter your demand...</textarea>
				<br>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</body>

</html>