<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<title>Pay My Buddy</title>
</head>

<body>
	<div id="bloc_page">
		<div id="section">
			<h1> Please sign in </h1>
			<div id="error" th:if="${formComment.error}">
				<label th:text="${formComment.message}"></label>
			</div>
			<div th:if="${formComment.clearMessage}"></div>
			<form th:action="@{/login}" method="post" enctype="utf8">
				<form>
					<div>
						<div class="enter">
							<!-- LOGIN -->
							<label>Email</label><br>
							<input class="field" type="text" name="username" autofocus />
						</div>
						<!-- PASSWORD -->
						<div class="enter">
							<label>Password</label><br>
							<input class="field" type="text" name="password" />
						</div>

						<div class="enter">
							<button id="submit" type="submit">Sign in</button>
						</div>
				</form>
		</div>
		<div id="newuser">
			New user ? <a th:href="@{/registration}">Register here</a>
		</div>
		<div id="newuser">
			Contact us <a th:href="@{/contact}">here</a>
		</div>
	</div>
</body>

</html>