<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/logoff.css}" href="../../css/logoff.css" />
	<title>Pay My Buddy</title>
</head>

<body>

	<!--Debut de bloc_page-->
	<div id="bloc_page">
	<header>
			<div id="logo_et_boutons">
				<div id="logo">Pay My Buddy</div>
				<div id="boutons">
					<div class="bouton"> <a href="home"> Home </a></div>
					<div class="bouton"> <a href="transfer"> Transfer </a></div>
					<div class="bouton"> <a href="profile"> Profile </a></div>
					<div class="bouton"> <a href="contact"> Contact </a></div>
					<div class="bouton"> <a href="logoff"> Log off </a></div>
				</div>
			</div>
		</header>
		<h1>Do you really want to log out ?</h1>
		<div>
			<a href="logout" id="yes">Yes, disconnect<a/><br>
			<a href="home" id="no">No<a/> 
		</div>
	</div>
</body>

</html>