<html>

<body>
	<!-- <h1 th:text="#{label.form.title}">form</h1> -->
	<form th:action="@{/registration}" th:object="${user}" method="post" enctype="utf8">
		<div>
			<div>
				<!-- LOGIN -->
				<label>Enter your email</label>
				<input type="text" th:field="*{login}" />
				<!-- <p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p> -->
			</div>
			<!-- PASSWORD -->
			<div>
				<label>Enter your password</label>
				<input type="text" th:field="*{password}" />
				<!-- <p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p> -->
			</div>
			<!-- FIRSTNAME -->
			<label>Enter your first name</label>
			<input th:field="*{firstName}" />
			<!-- <p th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p> -->
		</div>
		<!-- LASTNAME -->
		<div>
			<label>Enter your last name</label>
			<input th:field="*{lastName}" />
			<!-- <p th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p> -->
		</div>

		<!--
		<div>
			<label th:text="#{label.user.confirmPass}">confirm</label>
			<input type="password" th:field="*{matchingPassword}" />
		</div>
		-->
		<button type="submit">Submit</button>
	</form>

	<!-- <a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a> -->
</body>

</html>